<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Bank</title>
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a href="#" class="navbar-brand">TPBank</a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/index" class="nav-item nav-link active">Trang chủ</a>
                {% if not current_user.is_anonymous %}
                    <a href="/check_money" class="nav-item nav-link">Kiểm tra số dư</a>
                    <a href="/withdraw" class="nav-item nav-link">Rút tiền</a>
                    <a href="/transfer_money" class="nav-item nav-link">Chuyển tiền</a>
                    <a href="/" class="nav-item nav-link">Lịch sử giao dịch</a>
                    <a href="/change_pass" class="nav-item nav-link">Đổi mật khẩu</a>
                    <a href="/logout" class="nav-item nav-link">Đăng xuất</a>
                {% else %}
                    <a href="/" class="nav-item nav-link">Đăng nhập</a>
                    <a href="/register" class="nav-item nav-link">Đăng ký</a>

                {% endif %}
            </div>
        </div>
    </nav>
</div>
{% block content %}

{% endblock %}
</body>
</html>