{% extends 'base.html' %}
{% from "_render_field.html" import render_field %}

{% block content %}
    <div class="container">
        <h2 style="text-align: center">Số dư tài khoản</h2>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th>Số dư tài khoản của bạn là :</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ current_user.money| currencyFormat }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}