{% extends 'base.html' %}
{% from "_render_field.html" import render_field%}

{% block content %}
<div class="container theme-showcase" role="main">

    <div class="row">
        <div class="col-lg-12">
            <div class="well bs-component">
                <form class="form-horizontal", method="POST" action="{{ url_for('register') }}">
                    {{ form.csrf_token }}
                    <fieldset>
                        <legend style="text-align: center">Đăng ký </legend>
                        {{ render_field(form.username, placeholder=form.username.label.text) }}
                        {{ render_field(form.email, placeholder=form.email.label.text) }}
                        {{ render_field(form.password, placeholder=form.password.label.text) }}
                        {{ render_field(form.password2, placeholder=form.password2.label.text) }}
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="reset" class="btn btn-default">Cancel</button>
                                <button type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

    </div> <!-- /container -->
{% endblock %}